django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
psycopg2-binary
gunicorn
python-decouple
django-filter
cryptography
django-ratelimit
requests
sentry-sdk
stripe
drf-spectacular
channels
channels-redis
daphne
google-generativeai==0.8.3
google-genai
Pillow
twilio
